@import url("https://fonts.googleapis.com/css2?family=Headland+One&family=Poppins:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  background-image: url(img/bg/bg.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home h1 {
  color: white;
  font-family: "Headland One";
  font-size: 20vmin;
}
.home .scroll {
  height: 80px;
  width: 40px;
  border: 2px solid white;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50px;
  border-radius: 50px;
  cursor: pointer;
}
.scroll::before,
.scroll::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  border: 3px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll 1s ease-in-out infinite;
}
/* Animation */
.scroll::after {
  top: 20%;
  animation-delay: 0.2s;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 90%;
  }
}
.about {
  display: flex;
  padding-top: 25%;
  padding-bottom: 20%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about h1 {
  font-family: "Headland One";
  font-size: 5vmin;
}
.about p {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  font-size: 4vmin;
  font-family: "Poppins";
  font-weight: 300;
}
.image-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.image-wrapper img {
  width: 100%;
  transition: 1s ease-in-out;
}

.image-wrapper img:hover {
  opacity: 0.9;
}
.social-media {
  padding: 10px 0 10px 0;
}
.social-media ul {
  display: flex;
  justify-content: space-around;
}
.social-media ul li {
  list-style: none;
  font-size: 3.5vmin;
  font-family: "Poppins";
}
.social-media ul li a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}
.photo {
  background-image: url(img/bg/bg2.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content img {
  border-radius: 20px;
  height: 400px;
}
.text-photo {
  margin-left: 50px;
  font-size: 3vmin;
  font-family: "Poppins";
  width: 30%;
  color: white;
  text-shadow: 13px 4px 5px rgba(255, 255, 255, 0.25);
}
.btn {
  font-family: "Poppins";
  margin-top: 20px;
  width: 150px;
  height: 40px;
  border: white 2px solid;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: 300ms ease-in-out;
  border-radius: 10px;
}
.gallery {
  text-align: center;
  font-family: "Headland One";
  letter-spacing: 5px;
  padding: 200px 50px 0 50px;
}
.gallery-img {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}
.gallery-img a {
  overflow: hidden;
}
.gallery-img a img {
  width: 100%;
  object-fit: cover;
  transition: 500ms ease-in-out;
}
.gallery a img:hover {
  transform: scale(1.1);
}
#bundle {
  text-align: center;
  font-family: "Headland One";
  padding-top: 100px;
}
.bundle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  font-family: "Poppins";
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
.container .bundle {
  position: relative;
  max-width: 360px;
  height: 320px;
  background-color: #343434;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);

  transition: 300ms ease-in-out;
}
.container .bundle:hover {
  height: 480px;
}
.container .bundle .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -65px;
  left: 35px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.container .bundle .imgBx img {
  max-width: 100%;
  border-radius: 4px;
}
.container .bundle .box-text {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease-in-out;
  color: white;
}
.container .bundle:hover .box-text {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 200ms ease;
}
@media screen and (max-width: 480px) {
  .image-wrapper {
    grid-template-columns: 1fr;
  }
  .content img {
    width: 30vh;
    height: auto;
  }
  .container .bundle {
    max-width: 300px;
  }
  .container .bundle .imgBx {
    left: 5px;
  }
}

@media screen and (max-width: 385px) {
  .container .bundle {
    transform: scale(0.9);
  }
  .container .bundle {
    max-width: 280px;
  }
  .container .bundle .imgBx {
    left: -5px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .text-photo {
    margin: 50px 0 0 0;
    text-align: center;
    width: 80%;
    font-size: 16px;
  }
  .gallery {
    padding-left: 20px;
    padding-right: 20px;
  }
  .gallery-img {
    grid-template-columns: 1fr;
    grid-template-rows: inherit;
    grid-gap: 15px;
  }
}
